body{
    background-image: url("../imatges/bush.png")
}

canvas { 
    border: 5px solid black;
    position: absolute;
    margin-left: 15px;
    
}
#area { 
    z-index:1;
}
#area2 { 
    
    z-index:0;
}

.contenidor_base{
    border: 5px solid black;
    height: 900px;
    float: left;
    width: 300px;
}
.contenidor_eines{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    height: 450px;
    float: left;
    width: 300px;
    position: relative;
    background-color: #d9d9d9;
}

img.icono{
     display: inline-grid;
     margin: 27%;
     
}

.contenidor_eines>.color{
    position: absolute;
    bottom: 0;
    left: 120px;
    bottom: 100px;
    
}
.contenidor_eines>.color_relleno{
    position: absolute;
    bottom: 15;
    left: 120px;
    bottom: 50px;
    
}

.contenidor_opcions_eines{
    height: 450px;
    float: left;
    width: 300px;
    background-color: #d9d9d9;
}
#mida_font{
    width: 15%;
}

.editor_linea {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
  }

.editor_linea.label{
    text-align: center;
}

input[type=button]{
    border: 1px solid black;
    padding-right: 15px;
}

input[type=button]:focus{
    border: 1px solid black;
    padding-right: 15px;
    background-color: cyan;
}

#video{
    bottom: 1%;
    position: absolute;
    float: left;
}

#seleccionar-arxiu{
    color: #0645AD;
    text-decoration: underline;
}