body{
    background-image: url("../imatges/bush.png")
}

canvas { 
    border: 5px solid black;
    position: absolute;
    margin-left: 15px;
    background-color: white;
}

.contenidor_base{
    border: 5px solid grey;
    height: 900px;
    float: left;
    width: 300px;
    background-color: white;
}
.contenidor_eines{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    border: 5px solid red;
    height: 440px;
    float: left;
    width: 290px;
    position: relative;
}

img.icono{
     display: inline-grid;
     margin: 27%;
     
}

.contenidor_eines>.color{
    position: absolute;
    bottom: 0;
    left: 120px;
    bottom: 100px;
    
}

.contenidor_opcions_eines{
    border: 5px solid red;
    height: 440px;
    float: left;
    width: 290px;
}

.editor_linea {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
  }

