body{
    background-image: url("../imatges/bush.png")
}

#movies{
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icones{
    border: 1px solid black;
    width: 50%;
    padding-top: 50px;
    margin: auto;

}

.icones>img{
    height: 60px;
    width: 60px;
    
}